<a href="https://colab.research.google.com/github/MohammedHashir1/Assignments/blob/main/3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if amount greater than 999 give discount of 70/100
#if less than or 999 and greater than 499 give discount of 80/100
#if its more than 1499 give discount of 90/100
# if less than 499 give no discount
{use if elif else method}

In [ ]:
Grocery_List=90+10+400+600
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

 you got 80% off :770.0

In [ ]:
Grocery_List=90+10+40
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

no discount

In [ ]:
Grocery_List=90+10+400
if Grocery_List >=999:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List < 999 and Grocery_List >= 499 :
    Grocery_List= Grocery_List * 80/100
    print(f" you got 80% off :{Grocery_List}")
else :
      print(f"no discount")

 you got 80% off :400.0

In [ ]:
Grocery_List=90+10+400+1600
if Grocery_List >=1499:
  Grocery_List= Grocery_List * 70/100
  print(f" you got 80% off :{Grocery_List}")
elif Grocery_List<1499:
  Grocery_List=Grocery_List*90/100
  print(f" you got 90% off :{Grocery_List}")


else :
      print(f"no discount")

 you got 80% off :1470.0

Nested if else

In [ ]:
number=float(input("enter a number: "))
if number<=0:
  print(f"the number is zero")
if number> 0 :
  print(f"the number is positive")
else:
    print("the number is negative")

enter a number: 5
the number is positive

SINGLE LINE IF ELSE

print 90 if the number is greater than 99

In [ ]:
number=float(input("enter any number : "))
if number>=99:
  print(f"yes")

enter any number : 5

while Loop

In [ ]:
note=5
i=1
while i<=note:
  print(f"the sum of : {i*2}")
  i=i+1

the sum of : 2
the sum of : 4
the sum of : 6
the sum of : 8
the sum of : 10

In [ ]:
i=
while i<=10:
  i=i+1

count to 10: 0
count to 10: 1
count to 10: 2
count to 10: 3
count to 10: 4
count to 10: 5
count to 10: 6
count to 10: 7
count to 10: 8
count to 10: 9
count to 10: 10

In [ ]:
i = 0
while i <= 20 :

    print(f"even numbers : {i}")
    i = i + 2

even numbers : 0
even numbers : 2
even numbers : 4
even numbers : 6
even numbers : 8
even numbers : 10
even numbers : 12
even numbers : 14
even numbers : 16
even numbers : 18
even numbers : 20

In [ ]:
i=0
while i<=5:
  print(f"sum : {i}")
  i=i+1

sum : 0
sum : 1
sum : 2
sum : 3
sum : 4
sum : 5

In [24]:
i=100
while i>=1:
  print(i)
  i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [38]:
n=0
while n<=20:
 print(n)
 n=n+2

0
2
4
6
8
10
12
14
16
18
20

In [65]:
n=1
while n<=10:
  print(f"2 X {n}={2*n}")
  n=n+1

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

In [67]:
i=1
while i<=10:
  print(f"2 X {i} = {2*i}")
  i=i+1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [69]:
i=1
while i<=10:
  print(i*4)
  i=i+1

4
8
12
16
20
24
28
32
36
40

In [70]:
i=2
while i<=20:
  print(i*2)
  i=i+1

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [72]:
i=int(input("enter any number :"))
while i<=10:
  print(i*2)
  i=i+1

enter any number :3
6
8
10
12
14
16
18
20

In [74]:
num=(1,4,9,16,25,36,49,64,81,100)
idx=0
while idx<len(num):
  print(num[idx])
  idx+=1

1
4
9
16
25
36
49
64
81
100

In [80]:
num=(1, 8, 27, 64, 125, 216, 343, 512, 729, 1000)
i=0
while i<len(num):
 print(num[i])
 i+=1

1
8
27
64
125
216
343
512
729
1000

In [82]:
num=(1,4,9,16,25,36,49,64,81,100)
x=81
i=0
while i< len(num):
  if(num[i]== x):
   print("found x at",i)
  i+=1

found x at 8

In [83]:
n=400,499,88
for i in n:
  print(i)

400
499
88

In [84]:
  n=(1,4,9,16,25,36,49,64,81,100)
  for i in n:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [94]:
n=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
for i in n:
 if (i==x):
    print("found at",i)
    i+=1

found at 36

In [95]:
 n = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36
for i in n:
    if i == x:
        print("found at", i)

found at 36